body {
    background-color: #f5ffd8;
    font-family: Arial, sans-serif;
    margin: 0px;
    font-size: clamp(1vw, 2vw, 4vw);
}


/* Stats */

#stats {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3em;
}

.stats-text {
    margin-left: 20px;
    margin-right: 5px;
}


/* Car Brands */

#brand-list {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 50em;
    grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    padding: 1em;
    gap: 1em;
}

.brand-button {
    font-size: 3em;
    width: 5.2em;
    height: 100%;
    border: none;
    border-radius: 0.4em;
    background-color: #f3fdb7;
    box-shadow: 0 0.1em 0.15em black;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.2s ease;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 3.8em;
}

.brand-button:hover {
    background-color: #f8ffcd;
    transform: scale(1.03);
}